@{
    ViewData["Title"] = "Trang chủ";
}

@* <p class="vb1">Văn bản 1</p>
<p class="vb2">Văn bản 2</p>
<p class="vb3">Văn bản 3</p>
<p class="vb4">Văn bản 4</p>
<button class="nutnhan">Nhấn vào đây</button> *@
@* <div id="products-container"></div> *@
@* <div id="content-container">Đây là nội dung cũ</div> *@
@* <div id="result-container"></div> *@
<div id="product-container">
</div>
